#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.bg-custom-gradient {
  background: linear-gradient(
    to right,
    #85ebff 0%,
    #43c2db 6%,
    #0099b7 13%,
    #008099 50%,
    #00bbe0 75%,
    #d6f8ff 100%
  );
}
